/* =================================================
-                   G E N E R A L 
==================================================== */

body {
    font-family: "Roboto Condensed", sans-serif;
}

#fullpage, .fullpage-wrapper {
    height: 100%;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}

button:focus {
    outline: none;
}

/* =================================================
-                     H E A D E R 
==================================================== */

header {
    position: absolute;
    border-bottom: 1px solid black;
    background-color: #1c1c1c;
    width: 100%;
    height: 130px;
    margin: 0;
    z-index: 9999;
    display: inline-block;
}

.header-name, .nav-button {
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
}

.header-name {
    background-image: url(../img/acute-gradient.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.header-name h1, .nav-button {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding-top: 40px;
}

.header-name h1 {
    letter-spacing: 10px;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding-right: 180px;
}

.header-name h1:hover, p:hover {
    cursor: default;
}

.nav-button {
    float: right;
    padding: 0;
    padding-left: 180px;
    
}

.hamburger {
    padding: 14px 10px 10px 10px;
    border: 1.4px solid #c1b0e9;
    margin-top: 4px;
    position: absolute;
    z-index: 999999999999;
}

.hamburger:hover {
    background: -moz-linear-gradient(top, rgba(96, 81, 138, 0.67) 0%, rgba(147, 131, 188, 0.67) 53%, rgba(193, 176, 233, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(96, 81, 138, 0.67) 0%, rgba(147, 131, 188, 0.67) 53%, rgba(193, 176, 233, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(96, 81, 138, 0.67) 0%, rgba(147, 131, 188, 0.67) 53%, rgba(193, 176, 233, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab60518a', endColorstr='#c1b0e9', GradientType=0);
    /* IE6-9 */
}

.nav-button p {
    opacity: .5;
    color: #c1b0e9;
    letter-spacing: 3px;
    margin: 0;
    padding-top: 20px;
    padding-left: 60px;
}

.header-name, span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after, .nav-overlay a {
    opacity: .9;
    color: #fff;
}

span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after {
    background-color: #fff;
}

/* =================================================
-                     M E N U 
==================================================== */

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    background-color: #1c1c1c;
    transition: .5s;
    overflow-x: hidden;
    padding-top: 170px;
    font-size: 16px;
}

.menu-social {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 80px;
    letter-spacing: 10px;
}

.menu-social li a {
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 400;
    opacity: .8;
}

.menu-social li a:hover {
    color: #c1b0e9;
}

.menu-social li a span {
    color: #c1b0e9;
    font-weight: 700;
    letter-spacing: 5px;
}


/* =================================================
-                     H O M E 
==================================================== */

#home .fp-tableCell {
    display: block;
}

#cover-video, #video-overlay {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

#cover-video {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -9999;
    filter: brightness(1.8);
    filter: blur(1px);
    object-fit: cover;
}

#video-overlay {
    z-index: -9998;
    background: -moz-linear-gradient(top, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#home-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo/poly-owl-logo7.png);
    z-index: -9997;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(.5);
    top: 2%;
    right: 1.2%;
}

/* =================================================
-                     W O R K 
==================================================== */

#work {
    background-color: red;
}

/* =================================================
-                     A B O U T 
==================================================== */

#about {
    background-color: blue;
}

/* =================================================
-                     S O C I A L
==================================================== */

#social {
    background-color: gold;
}

/* =================================================
-            S C R O L L - I N D I C A T O R
==================================================== */

.mouse {
    margin: 30px auto 0 auto;
    width: 100px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 85%;
    display: inline-block;
}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

.mouse p {
    color: #c1b0e9;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    transform: rotate(90deg);
    padding-left: 50px;
    font-size: 12px;
    opacity: .5;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

/* =================================================
-            P A G E - I N D I C A T O R
==================================================== */

.page-indicator {
    position: fixed;
    z-index: 999999999999;
    color: #fff;
    display: block;
    overflow: hidden;
    height: auto;
    right: 70px;
    top: 50%;
    margin-top: -80px;
}

.page-indicator ul {
    list-style: none;
    font-size: 20px;
    opacity: .5;
}

li.bar {
    background-color: #fff;
    height: 60px;
    width: 2px;
    line-height: 1;
    margin: 2px 0 3px 0;
}