/* =================================================
-                   G E N E R A L 
==================================================== */

body {
    font-family: "Roboto Condensed", sans-serif;
}

#fullpage, .fullpage-wrapper {
    height: 100%;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}

button:focus {
    outline: none;
}

a, a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}

/* =================================================
-                     H E A D E R 
==================================================== */

header {
    position: absolute;
    border-bottom: 1px solid black;
    background-color: #1c1c1c;
    width: 100%;
    height: 85px;
    margin: 0;
    z-index: 9999;
    display: inline-block;
}

.header-name, .nav-button {
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
}

.header-name {
    background-image: url(../img/acute-gradient.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 27.5% 0;
    display: inline-block;
}

.header-name h1, .nav-button {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding-top: 20px;
}

.header-name h1 {
    letter-spacing: 10px;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    opacity: .8;
    left: -15%;
}

.header-name h1:hover, p:hover {
    cursor: default;
}

.nav-button {
    float: right;
    padding: 0;
    right: -11%;
}

.nav-button p {
    display: inline-block;
    padding: 37px 20px 0 0;
}

.hamburger {
    padding: 11px 7px 7px 7px;
    border: 1.4px solid #c1b0e9;
    margin-top: 20px;
    position: absolute;
    z-index: 999999999999;
    background: transparent;
}

.nav-button p {
    opacity: .5;
    color: #c1b0e9;
    letter-spacing: 3px;
    margin: 0;
    padding-left: 60px;
}

.header-name, span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after, .nav-overlay a {
    opacity: .9;
    color: #fff;
}

span.hamburger-inner, span.hamburger-inner::before, span.hamburger-inner::after {
    background-color: #fff;
}

/* =================================================
-                     M E N U 
==================================================== */

#myNav {
    padding-top: 12.5%;
}

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    background-color: #1c1c1c;
    transition: .5s;
    overflow-x: hidden;
    padding-top: 170px;
    font-size: 16px;
}

.menu-social {
    list-style: none;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    padding-top: 1.5%;
}

.menu-social li a {
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 400;
    opacity: .8;
    margin-right: 10px;
}

.menu-social li a:hover {
    color: #c1b0e9;
}

.menu-social li a span {
    color: #c1b0e9;
    font-weight: 700;
    letter-spacing: 5px;
}

.menu__item-name {
    text-transform: uppercase;
}

.menu--inola {
    line-height: 23px;
}

/* =================================================
-                     H O M E 
==================================================== */

.side-info {
    position: absolute;
    top: -6vh;
    margin: 6vh;
    width: 100vh;
    transform-origin: top left;
    transform: rotate(-90deg) translate3d(-105.5%, 0, 0);
    color: #fff;
    list-style: none;
    letter-spacing: 1px;
    opacity: .8;
    font-size: 14px;
}

.info-left {
    position: absolute;
    left: 6.5vh;
}

.info-mid {
    text-align: center;
    bottom: 0;
}

.info-right {
    position: absolute;
    top: 0;
    right: 6.5vh;
}

#home .fp-tableCell {
    display: block;
}

#cover-video, #video-overlay {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

#cover-video {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -9999;
    filter: brightness(1.8);
    object-fit: cover;
    filter: blur(1.25px);
}

#video-overlay {
    z-index: -9998;
    background: -moz-linear-gradient(top, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 192, 206, 0.65) 0%, rgba(255, 255, 255, 0.29) 55%, rgba(127, 0, 127, 0.09) 86%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#home-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo/new-poly-owl-logo.png);
    z-index: -9997;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(.70);
    left: 17%;
}

/* =================================================
-                     W O R K 
==================================================== */

#work {
    background-image: url(../img/bg-work.jpg);
    padding: 110px 90px 55px 80px;
}

.fp-slidesNav.bottom {
    padding-left: 50%;
}

.fp-slidesNav.bottom ul span {
    background: #fff;
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    opacity: .3;
}

.fp-controlArrow.fp-next:hover, .fp-controlArrow.fp-prev:hover {
    opacity: 1;
}

.fp-controlArrow.fp-next {
    right: 10%;
    border-color: transparent transparent transparent #fff;
}

.fp-controlArrow.fp-prev {
    left: 10%;
    border-color: transparent #fff transparent transparent;
}

.slide-1 {
    background-image: url(../img/work/bg-work1.jpg);
}

.slide-2 {
    background-image: url(../img/work/bg-work2.png);
}

.slide-3 {
    background-image: url(../img/work/bg-work3.jpg);
}

.project-desc {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 0 20px;
}

.project-desc h2 {
    color: #fff;
}

.project-desc h4 {
    color: #ababab;
    letter-spacing: 1px;
    line-height: 24px;
}

.desc-1 {
    top: 0;
    background-color: #363543;
}

.desc-2 {
    background-color: #292933;
    bottom: 0;
}

.desc-3 {
    background-color: #464557;
    top: 0;
    right: 0;
}

.view-project {
    letter-spacing: 5px;
    padding: 10px;
    width: 90%;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
}

/* =================================================
-            P R O J E C T - S L I D E S
==================================================== */
#vescoSlide, #portfolioSlide, #illustrationSlide {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-image: url(../img/bg-slides-bw.jpg);
    overflow-x: hidden;
    transition: .5s;
}

.close-slide {
    position: absolute;
    top: 15%;
    left: 5%;
    border: 0;
    background: transparent;
    letter-spacing: 5px;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 9;
    color: #fff;
}

.close-slide:hover {
    color: #c1b0e9;
}

.intro-wrapper {
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.intro-left, .intro-right {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
}

.intro-left {
    left: 0;
    background-image: url(../img/bg-intro-vesco.jpg);
}

.intro-right {
    right: 0;
}


/* =================================================
-                     A B O U T 
==================================================== */

#about {
    background-color: #141414;
}

.about-text-wrap-l {
    width: 45%;
    line-height: 24px;
    left: 45%;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 100px;
}

.about-text-wrap-l h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 80px;
}

.about-text-wrap-l p {
    margin-bottom: 30px;
}

.about-text-wrap-r {
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    left: 10%;
    width: 200px;
}

.about-text-wrap-r ul {
    list-style: none;
    padding: 0;
    color: #fff;
}

.about-text-wrap-r ul li {
    margin-bottom: 30px;
    border-bottom: .5px solid #3a3a43;
}

.about-text-wrap-r, .about-text-wrap-l {
    top: 20%;
}

.me .quote {
    position: absolute;
    font-weight: 400;
    line-height: 40px;
    font-size: 22px;
    color: #c1b0e9;
    padding: 0 100px;
    margin: 0;
    opacity: 1;
    letter-spacing: 2px;
    z-index: 9999999999;
}

.me {
    position: absolute;
    background-image: url(../img/bg-about7.jpeg);
    width: 62%;
    height: 100%;
    background-size: 100% 100%;
    padding-top: 10%;
}

.me .title {
    width: 185px;
    height: 57px;
    padding-top: 12%;
    margin-bottom: 12.5%;
    margin-left: 9.6%;
    color: #fff;
    z-index: 9999999999;
    position: absolute;
}

.image {
    width: 220px;
    height: 220px;
    position: absolute;
    z-index: 999999;
    top: 70%;
    left: 7%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
}

.me:after {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    /* background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); */
    background: rgba(49, 49, 57, 0.85);
    z-index: 0;
}

article {
    position: absolute;
    padding: 0px 30px 30px 30px;
    text-align: left;
    display: inline-block;
    z-index: 9;
}

article p, article p span, .name span {
    color: #ababab;
    font-size: 15px;
}

article p span {
    color: #c1b0e9;
}

article .name {
    color: #c1b0e9;
    font-size: 26px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #645e72;
    width: 33%;
    padding-bottom: 20px;
    left: 10%;
    position: absolute;
}

.name span {
    font-size: 20px;
}

.playlist {
    width: 38%;
    height: 100%;
    background-color: #e7e7e7;
    padding-top: 6%;
    float: right;
    text-align: center;
}

.playlist h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #645e72;
}

.playlist ul {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
}

.playlist ul li {
    display: inline-block;
    vertical-align: top;
    width: 29%;
}

.playlist ul li figure {
    display: block;
}

.playlist a {
    display: inline-block;
    color: #645e72;
}

.playlist a img {
    width: 104px;
    max-width: 114px;
    height: 104px;
    border: 1px solid;
    padding: 1px;
    box-shadow: 1px 10px 18px #888888;
}

.playlist a h5 {
    text-align: center;
}

.playlist p {
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #645e72;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

.playlist a:hover {
    color: #fff;
}

.podcast ul li a img {
    width: 150px;
    height: 180px;
    max-width: 170px;
}

.podcast ul {
    width: 100%;
}

.podcast {}

/* =================================================
-                     S O C I A L
==================================================== */

#social {
    background-image: url(../img/bg-social-bw.gif);
}

#social:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    /* background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); */
    background: rgba(9, 4, 14, 0.85);
    z-index: 0;
}

.social-icons {
    position: absolute;
    z-index: 99;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-icons ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons a {
    display: inline-block;
    margin: 0 65px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.social-icons figcaption {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 18px;
}

.social-icons a img {
    margin-bottom: 20px;
}

.back-to-top {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 88%;
    display: inline-block;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.back-to-top figure {
    color: #fff;
}

.social-icons figure {
    opacity: .6;
}

.back-to-top figure:hover, .social-icons figure:hover {
    color: #c1b0e9;
    opacity: 1;
}

/* =================================================
-            S C R O L L - I N D I C A T O R
==================================================== */

.mouse {
    margin: 30px auto 0 auto;
    width: 100px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 85%;
    display: inline-block;
}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}

.mouse p {
    color: #c1b0e9;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    transform: rotate(90deg);
    padding-left: 50px;
    font-size: 12px;
    opacity: .5;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

/* =================================================
-            P A G E - I N D I C A T O R
==================================================== */

#fp-nav ul li a span {
    background: #fff;
}

#fp-nav.right {
    margin-right: 40px;
}

/* =================================================
-            B G - I M A G E S
==================================================== */

#social, .me, #work, .slide, .project-case {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* =================================================
-              A N I M A T I O N S
==================================================== */

#home-logo, .mouse, header, .page-indicator {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}